
body {
  background-image: url("heart.png");
  background-attachment: ;
  background-repeat: no-repeat;
}
h1{
  color: #FF0000;
  text-shadow: 2px 2px 8px GRAY;
  text-align: center;
}
h3{
  color: #FF0000;
  text-shadow: 2px 2px 8px GRAY;
  text-align: left;
  margin-left: 20%;
}
h2{
  color: #FF0000;
  text-shadow: 2px 2px 8px GRAY;
  text-align: left;
  margin-left: 25%
}
p {
  color: #FF0000;
  text-shadow: 2px 2px 8px GRAY;
  margin-left: 30%;
  margin-right: 20%;
  text-align: center;
  border-color: yellow;
  border-width: 4px;
  border-style: ridge;
  background-color: rgba(0, 200, 200, .5);
}
img{
  float: right;
}
form {
  margin-left: 20%;
}
